#aboutPage-cards-container {
    /* height: auto;
    width: auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
    max-width: 1080px;
}

#aboutPage-faceCircle-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#aboutPage-title-container {
    margin-left: 137px;
}

#aboutPage-title {
    font-size: var(--font-size-heading);
    font-weight: 600;
    color: var(--color-charcoal);
    margin-bottom: 35px;
    text-align: left;
    margin: auto;
}

#aboutPage-cards-title {
    font-size: var(--font-size-heading);
    font-weight: 600;
    color: var(--color-charcoal);
    margin-bottom: 35px;
    text-align: left;
    margin: auto;
    width: 1080px;
}
@media screen and (max-width: 1080px) { 
    #aboutPage-faceCircle-container { 
        width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #aboutPage-title-container {
        margin-left: 0;
    }

}


@media screen and (min-width: 360px) { #aboutPage-cards-title { width: 360px; } }
@media screen and (min-width: 720px) { #aboutPage-cards-title { width: 720px; } }
@media screen and (min-width: 1080px) { #aboutPage-cards-title { width: 1080px; } }
/* @media screen and (min-width: 1440px) { #aboutPage-cards-title { width: 1440px; } } */
/* @media screen and (min-width: 1800px) { #aboutPage-cards-title { width: 1800px; } } */
/* @media screen and (min-width: 2160px) { #aboutPage-cards-title { width: 2160px; } } */


#aboutPage-title-text {
    font-size: 20px;
    max-width: 423px;
}