@import "tailwindcss";

#stdInvolv-center-container {
    margin: auto;
    text-align: center;
    padding: 10px;  
    max-width: 622.7px;
    font-family: Poppins;
    color: #333;
}

#stdInvolv-heading {
    flex-grow: 0;
    margin: 0 auto;
    font-size: var(--font-size-heading);
    font-weight: 600;
}

#stdInvolv-body {
    width: fit-content;
    height: fit-content;
    flex-grow: 0;
    margin: 0 auto 17px auto;
    font-size: var(--font-size-small-body);
    line-height: 1.38;
    text-align: center;
}

#stdInvolv-link {
    width: 136.7px;
    height: 25.9px;
    margin: 3.7px auto 17px;
    background-image: var(--color-light-button);
    border-radius: var(--border-radius-pill-button);
    display: flex;
}

#stdInvolv-link:hover {
    background-image: var(--color-dark-button);
    cursor: pointer;
}

#stdInvolv-link-text {
    text-align: center;
    margin: auto;
    padding: 0;
    font-size: 20.7px;
    position: relative;
    top: -0.1em; /*Since the text box is bigger than the button*/
}

.north-east-arrow {
    height: 1em;
    width: 1em;
    margin: auto 0.5em auto 0;
}
