#projectPage-top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#projectPage-header {
    margin-left: 10vw;
    margin-right: 20vw;
    margin-top: 96.8px;
}

#projectPage-header-text {
    font-size: var(--font-size-heading);
    font-weight: 600;
    margin-bottom: 27px;
    color: #333;
}

#projectPage-header-body {
    font-size: 20px;
    color: #333;
    margin-bottom: 45.9px;
}

#projectPage-2025-6 {
    margin-left: 10vw;
    margin-top: 142.2px;
}

#projectPage-2025-6-h {
    font-size: var(--font-size-heading);
    font-weight: 600;
    margin-bottom: 27px;
}

#projectPage-coming-soon {
    margin: auto;
    width: 100%;
    height: 200px;
    text-align: center;
    font-weight: 600;
    font-size: 55.3px;
    color: #333;
}